.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    margin: 10px;
}

.active {
    color: gold;
    margin: 10px;
}

.dialog {
}

.messages {
    margin: 10px;
}


.message {
}